

.rated-feature{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.div-color-2{
    width: 80px;
    height: 5px;
    margin-top: 10px;
    background-color: red;
}
.card-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 35px;
}

swiper-button-next,
.swiper-button-prev {
  color: #333; /* arrow color */
}

.swiper-pagination-bullet {
  background: #999;
}

.swiper-pagination-bullet-active {
  background: #000;
}


